h1 {
  text-align: center;
  text-transform: uppercase;
  color: black;
font-family: arial;
    
    
}

p {
    text-transform: uppercase;
    color: black;
    font-family: arial;
    
}


.box{
	width:400px;
	height:500px;
}
 
.tomato{
	background:tomato;
}
